button{
    background-color: #6c757d;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 18px;
}
button:hover{
    transition: linear 0.5s;
    background-color: #343a40;
    font-size: 1.2rem;
    
}